<a href="https://colab.research.google.com/github/hdorazi/english-phonetics/blob/main/class-2024-fall_1101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
## Lecture 1: Connecting to Databases

**Objective:** Learn how to install and connect to databases like MySQL and SQLite using Python.

### Introduction
- **Why Connect to Databases?**: In data analysis and manipulation, databases serve as repositories for structured data. Connecting to databases allows us to fetch, update, and manage this data programmatically using Python.

### Code Demonstration

In [1]:
# Install MySQL Server
!apt-get update  # google computer 운영체제 : ubuntu / ubuntu appstore : apt
!apt-get install mysql-server

# Start the MySQL service
!service mysql start

Hit:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease
Hit:2 http://security.ubuntu.com/ubuntu jammy-security InRelease
Hit:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Ign:4 https://r2u.stat.illinois.edu/ubuntu jammy InRelease
Hit:5 http://archive.ubuntu.com/ubuntu jammy InRelease
Hit:6 https://r2u.stat.illinois.edu/ubuntu jammy Release
Hit:7 http://archive.ubuntu.com/ubuntu jammy-updates InRelease
Hit:8 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:9 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:10 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:11 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
mysql-server is already the newest version (8.0.39-0ubuntu0.22.04.1).
0 upgraded, 0 newly installed, 0 to remove and 51 not upgraded.
 * Starting MySQL database server mysqld
   ...done.

powershell |
'dir' |
hirechy - [root(god)]

In [2]:
# Log in to MySQL as root
!mysql -u root

Welcome to the MySQL monitor.  Commands end with ; or \g.
Your MySQL connection id is 12
Server version: 8.0.39-0ubuntu0.22.04.1 (Ubuntu)

Copyright (c) 2000, 2024, Oracle and/or its affiliates.

Oracle is a registered trademark of Oracle Corporation and/or its
affiliates. Other names may be trademarks of their respective
owners.

Type 'help;' or '\h' for help. Type '\c' to clear the current input statement.

mysql> DROP USER IF EXISTS 'test'@'localhost'; CREATE USER 'test'@'localhost' IDENTIFIED WITH 'mysql _native_password' BY '1234'; GRANT ALL PRIVILEGES ON *.* TO 'test'@'localhost' WITH GRANT OPTION; FL USH PRIVILEGES;
Query OK, 0 rows affected, 1 warning (0.01 sec)

Query OK, 0 rows affected (0.01 sec)

Query OK, 0 rows affected (0.01 sec)

Query OK, 0 rows affected (0.01 sec)

mysql> DROP DATABASE IF EXISTS TestDataset; CREATE DATABASE TestDataset; CREATE TABLE TestDataset.Te stTable (     ID INT AUTO_INCREMENT PRIMARY KEY,     Name VARCHAR(255),     Age INT ); INSERT INTO T estDataset.TestTable (Name, Age) VALUES ('John', 30), ('Alice', 25), ('Bob', 35); exit;
Query OK, 0 rows affected, 1 warning (0.00 sec)

Query OK, 1 row affected (0.01 sec)

Query OK, 0 rows affected (0.05 sec)

Query OK, 3 rows affected (0.02 sec)
Records: 3  Duplicates: 0  Warnings: 0

Bye

```mysql
DROP USER IF EXISTS 'test'@'localhost'; # if test account comming from local host exits then 'drop(erase)' 같은 컴퓨터 안에서 이동하므로 localhost / from naver면 'localhost'-> naver.com
CREATE USER 'test'@'localhost' IDENTIFIED WITH 'mysql_native_password' BY '1234'; # 계정 생성
GRANT ALL PRIVILEGES ON *.* TO 'test'@'localhost' WITH GRANT OPTION;
FLUSH PRIVILEGES; # test @ local host에게 모든 DB의 모든 테이블(*.*)에 대한 접근권한을 줌
```

```mysql
DROP DATABASE IF EXISTS TestDataset;
CREATE DATABASE TestDataset;
CREATE TABLE TestDataset.TestTable ( # TestTable이란 이름으로 table 생성
    ID INT AUTO_INCREMENT PRIMARY KEY, #auto_increment: 자동으로 순번(bookmarker) 달아줌
    Name VARCHAR(255), # string
    Age INT
);
INSERT INTO TestDataset.TestTable (Name, Age) VALUES
('John', 30),
('Alice', 25),
('Bob', 35);  # create 3 rows -> result : 3 records
exit;
```

In [3]:
!pip uninstall mysql-connector
!pip uninstall mysql-connector-python
!pip install mysql-connector-python

WARNING: Skipping mysql-connector as it is not installed.
WARNING: Skipping mysql-connector-python as it is not installed.
Collecting mysql-connector-python
  Downloading mysql_connector_python-9.1.0-cp310-cp310-manylinux_2_28_x86_64.whl.metadata (6.0 kB)
Downloading mysql_connector_python-9.1.0-cp310-cp310-manylinux_2_28_x86_64.whl (34.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.4/34.4 MB 49.8 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.1.0

In [4]:
# Import the necessary libraries
import mysql.connector

# Connect to MySQL (python 입장에서)
mysql_conn = mysql.connector.connect( # 'mysql-conn' : mysql, python connection
    host="localhost",  # Database server address
    user="test",  # Database username
    password="1234",  # User's password
    database="TestDataset" # Name of the database
)

---
## Lecture 2: Executing SQL Queries

**Objective:** Learn how to execute SQL queries using Python.

### Introduction
- **Importance of SQL**: SQL (Structured Query Language) is used to interact with databases. Python can be used to execute SQL queries, making it a powerful tool for working with databases.

### Code Demonstration

In [5]:
# Create a cursor object
mysql_cursor = mysql_conn.cursor(buffered=True)

# Execute SQL queries
mysql_cursor.execute("SELECT * FROM TestDataset.TestTable")

# Fetch data from the queries
mysql_result = mysql_cursor.fetchall()

print(mysql_result)

[(1, 'John', 30), (2, 'Alice', 25), (3, 'Bob', 35)]


---
## Lecture 3: CRUD Operations

**Objective:** Learn how to perform CRUD operations (Create, Read, Update, Delete) on a database using Python.

### Introduction
- **CRUD Operations**: CRUD stands for Create, Read, Update, and Delete. These are fundamental database operations used to manipulate data within a database.

### Code Demonstration

In [10]:
# CREATE: Insert a new record
mysql_cursor.execute("INSERT INTO TestDataset.TestTable (Name, Age) VALUES (%s, %s)", ("John Doe", 30))
mysql_cursor.execute("SELECT * FROM TestDataset.TestTable")
mysql_result = mysql_cursor.fetchall()
print(f"CREATE exampl: {mysql_result}")

# READ: Retrieve data
mysql_cursor.execute("SELECT * FROM TestDataset.TestTable WHERE Name = 'John Doe'")
mysql_result = mysql_cursor.fetchone()  # john doe가 여럿있을 때 하나만 나온 이유: 'fetch one'이라서 'fetchall'하면 다 나옴
print(f"READ example: {mysql_result}")


# UPDATE: Update existing data
mysql_cursor.execute("UPDATE TestDataset.TestTable SET Age = 31 WHERE Name = 'John Doe'")
mysql_cursor.execute("SELECT * FROM TestDataset.TestTable")
mysql_result = mysql_cursor.fetchall()
print(f"UPDATE example: {mysql_result}")


# DELETE: Delete data  # delete 주석 처리하고 실행 돌리면 john doe data 가 계속 생성
mysql_cursor.execute("DELETE FROM TestDataset.TestTable WHERE Name = 'John Doe'")
mysql_cursor.execute("SELECT * FROM TestDataset.TestTable")
mysql_result = mysql_cursor.fetchall()
print(f"DELETE example: {mysql_result}")

CREATE exampl: [(1, 'John', 30), (2, 'Alice', 25), (3, 'Bob', 35), (5, 'John Doe', 31), (6, 'John Doe', 31), (7, 'John Doe', 30)]
READ example: (5, 'John Doe', 31)
UPDATE example: [(1, 'John', 30), (2, 'Alice', 25), (3, 'Bob', 35), (5, 'John Doe', 31), (6, 'John Doe', 31), (7, 'John Doe', 31)]
DELETE example: [(1, 'John', 30), (2, 'Alice', 25), (3, 'Bob', 35)]

---
## Lecture 4: Working with Database Libraries

**Objective:** Learn how to work with data using database libraries in Python.

### Introduction
- **Python Libraries**: Python offers several libraries and tools for data manipulation and analysis. We can leverage these libraries to work with database data effectively.

### Code Demonstration

In [11]:
# Using pandas for data manipulation
import pandas as pd

# Retrieve data from the database and create a DataFrame
mysql_cursor.execute("SELECT * FROM TestDataset.TestTable")
data = mysql_cursor.fetchall()
df = pd.DataFrame(data, columns=["ID", "Name", "Age"])
print(df)

# Perform data analysis with pandas
average_age = df["Age"].mean()
print(average_age)

   ID   Name  Age
0   1   John   30
1   2  Alice   25
2   3    Bob   35
30.0